header
  div
    h1
      a(href='/') Blog
  div
    if user
      p You are currently logged in as #{user.username}
      a(href='/logout') Log out
    else
      a(href='/login') Log in
      br
      a(href='/register') Register
  br
