extends layout

block content
  form(action='/register' method='post')
    input(type='text' name='username' placeholder='enter username' autofocus)
    input(type='password' name='password' placeholder='enter password')
    button(type='submit') Register
  a(href='/') Cancel
